In [5]:
import gensim
import os

In [9]:
model_path = '../../../embedding_gen/embeddings/w2v_pfv_100_5_f_5/model'
full_path = os.path.abspath(model_path)
model = gensim.models.Word2Vec.load(full_path)

In [10]:
from wefe.datasets import load_weat
from wefe.metrics import RNSB, WEAT
from wefe.query import Query
from wefe.utils import run_queries
from wefe.word_embedding_model import WordEmbeddingModel

In [20]:
model = WordEmbeddingModel(model.wv, "my_model")

In [21]:
# load the WEAT word sets
word_sets = load_weat()

In [22]:
# create gender queries
gender_query_1 = Query(
    [word_sets["male_terms"], word_sets["female_terms"]],
    [word_sets["career"], word_sets["family"]],
    ["male terms", "female terms"],
    ["career", "family"],
)

gender_query_2 = Query(
    [word_sets["male_terms"], word_sets["female_terms"]],
    [word_sets["science"], word_sets["arts"]],
    ["male terms", "female terms"],
    ["science", "arts"],
)

gender_query_3 = Query(
    [word_sets["male_terms"], word_sets["female_terms"]],
    [word_sets["math"], word_sets["arts_2"]],
    ["male terms", "female terms"],
    ["math", "arts"],
)

gender_queries = [gender_query_1, gender_query_2, gender_query_3]

In [23]:
WEAT_gender_results = run_queries(
    WEAT, 
    gender_queries, 
    [model], 
    metric_params={"preprocessors": [{"lowercase": True}]}, 
    queries_set_name="gender queries"
)
WEAT_gender_results

query_name,male terms and female terms wrt career and family,male terms and female terms wrt science and arts,male terms and female terms wrt math and arts
model_name,,,
my_model,0.6406,0.686291,0.806873